* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.section {
    width: 350px;
    height: 100vh;
    background-color: rgb(6, 6, 24);
    position: relative; 
    

}

.box1 {
    background-color: rgba(255, 254, 254, 0.148);
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 4px 4px 4px rgba(1, 234, 255, 0.493);
}

.img1 {
    padding-top: 5px;
    border-radius: 60px;

}

.box2 {
    background-color: rgba(255, 254, 254, 0.189);
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 4px 4px 4px rgba(1, 234, 255, 0.493);
}

.head1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.code1 {
    width: 290px;
    height: 10px;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    margin-left: 5px;
}

.code2 {
    width: 275px;
    height: 10px;
    background-color: yellow;
    border-radius: 10px;
}

.code3 {
    width: 290px;
    height: 10px;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    margin-left: 5px;
}

.code4 {
    width: 270px;
    height: 10px;
    background-color: yellow;
    border-radius: 10px;
}

.code5 {
    width: 290px;
    height: 10px;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    margin-left: 5px;
}

.code6 {
    width: 275px;
    height: 10px;
    background-color: yellow;
    border-radius: 10px;
}

.box3 {
    background-color: rgba(255, 254, 254, 0.189);
    height: 100px;
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: white;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 4px 4px 4px rgba(1, 234, 255, 0.493);
}

.panel {
    display: none;
    width: 370px;
    height: 250px;
    background-color: rgba(14, 13, 13, 0.888);
    box-shadow: 4px 4px 4px 4px rgba(1, 234, 255, 0.493);
    border-radius: 5px;
    padding-left: 20px;
}

#panel1 {
    width: 370px;
    line-height: 18px;
    border-radius: 5px;
    color: rgb(246, 255, 0);
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;


}

#panel2 {
    line-height: 18px;
    border-radius: 5px;
    color: rgb(234, 255, 0);
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;


}

.code7 {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 100px;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}

.code8 {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100px;

}


.section2 {
    width: 80%; 
    height: 100vh;
    background-color: rgb(33, 33, 43);


}

.list {
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    background-color: rgb(6, 4, 24);
    height: 50px;
    align-items: center;
    width: 77.5%;
    position: fixed;
}

a {
    color: rgb(0, 238, 255);
    text-decoration: none;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

a:hover {
    color: orange;

    text-decoration: underline;
}

.profile {
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 5px 5px rgb(191, 191, 191);
    border-radius: 4px;
    opacity: 0.3px;
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.main-content {
    font-size: 28px;
    color: rgb(99, 0, 118);
    font-weight: bolder;
    line-height: 40px;
    position: relative;
}

.btn {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: rgb(1, 73, 7);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    top: 30px;
    justify-content: center;
}

.container2 {
    width: 100%; 
    height: 90vh;
    background-color: rgb(33, 33, 43);
    color: rgb(238, 255, 0);
    text-align: center;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;



}



.single-line {
     width: 80%; 
     background-color: rgb(175, 175, 255);
    height: 4px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 100px;
    display: flex;
    justify-content: space-around;


}

.vertical {
    height: 40px;
    width: 2px;
    background-color: rgb(175, 175, 255);

}

h5 {
    padding-top: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    position: relative;
    top: -32px;
    left: -8px;
    color: rgb(238, 255, 0);
}

.vertical-dic {
    width: 220px;
    font-size: 16px;
    position: relative;
    right: 95px;
    top: 10px;
    color: rgb(0, 255, 247);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.151);
    font-family: Arial, Helvetica, sans-serif;
    height: 205px;
    line-height: 30px;

}



.container3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 33, 43);
    color: rgb(238, 255, 0);
    font-family: Arial, Helvetica, sans-serif;

}

.service {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
    height: 50px;
}

.graphic,
.Web-design,
.App,
.software {
    width: 300px;
    height: 300px;
    background-color: black;
    margin-top: 8px;
    border-radius: 5px;
    padding-left: 5px;
    text-align: center;
    line-height: 30px;




}

.container4 {
    width: 100%;
    height: 150vh;
    background-color: rgb(33, 33, 43);
    color: rgb(238, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;



}

.picture:hover {
    
    height: 450px;
    width: 500px;
}

.container5 {
    width: 100%;
    height: 90vh;
    background-color: rgb(33, 33, 43);
    color: rgb(238, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.form {
    display: block;
    width: 616px;
    height: 400px;

}

.form:hover {
    border: 5px solid rgb(0, 225, 255);
}

.form1 {
    display: flex;
    width: 609px;
}

input {
    width: 300px;
    height: 50px;
    margin: 5px;
}

.message {
    width: 600px;
    height: 200px;
    padding: 5px;
}

.SUBJECT {
    width: 600px;
    height: 50px;
    padding: 5px;
}

.footer {
    background-color: rgb(0, 0, 0);
    width: 100%;


}

#one {
    padding-top: 62px;
    color: rgb(0, 255, 247);
    height: 30px;
}



/* Media Queries */

@media screen and (max-width: 780px) {
    .container {
        background-color: brown;
        display: block;
        /* height: 149vh; */
        height: 91vh;
    }

    .section {
        width: 100%;
        /* height: 149vh; */
        height: 91vh;
        position: relative;
        padding-top: 38px;
    }



    .box1,
    .box2 {
        width: 80%;
        border-radius: 4px;
    }

    .box1,
    .box2 {
        font-size: 15px;
        /* background-color: transparent; */
        box-shadow: none;
    }

    .img1 {
        border-radius: 100px;
        margin-top: 5px;
    }

    .box2 {
        height: 310px;
    }

    h4 {
        color: rgb(255, 247, 0);
        text-decoration: underline;
    }

    .HTML {
        margin-left: 50px;
    }

    .code1 {
        width: 290px;
        height: 10px;
        background-color: rgb(5, 5, 5);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .code3 {
        width: 290px;
        height: 10px;
        background-color: rgb(5, 5, 5);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }


    .code5 {
        width: 290px;
        height: 10px;
        background-color: rgb(5, 5, 5);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .para {
        margin-right: 25px;
    }

    .box3 {
        width: 80%;
        height: 300px;
        font-size: 15px;
        border-radius: 4px;
        padding-bottom: 5px;
        display: block;
        margin-top: 20px;
        box-shadow: none;
    }


    .panel {

        width: 100%;
        background-color: rgba(255, 254, 254, 0.189);
        margin-top: 1px;
        height: 245px;
        border-radius: 1px;
        background-color: transparent;
        box-shadow: none;
        display: block;
        pointer-events: none;

    }

    #panel1,
    #panel2 {
        display: flex;
        color: white;
        width: 341px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;

    }
.black{color: yellow; font-weight: bold;}
    /* .horizontal {
        display: none;
    } */

    /* .move {
        padding-right: 46px;
    } */
    .leftside{padding: 10px;}


    .profile {
        display: none;
    }

    .section2 {
        position: relative;
        bottom: 923px;
        height: 51px;
        width: 100%;
    }

    .list {
        position: relative;
        width: 100%;
        font-size: 14px;
    }



    .container2 {
        margin-top: 0px;
        /* height: 200vh; */
        height: 125vh;
    }

    h2 {
        font-size: 18px;
    }

    .para2 {
        font-size: 12px;
    }


    h5 {
        font-size: 15px;
        padding-bottom: 10px;
        margin-left: 0px;

    }

    .single-line {
        display: block;
        position: relative;
        bottom: 105px;
        background-color: transparent;
        font-size: 18px;
    }

    .vertical {
        display: inline;
        height: 1px;
        width: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        background-color: transparent;
        font-size: 18px;


    }

    .vertical-dic {
        margin-left: 96px;
        width: 100%;
        height: 144px;
        font-size: 15px;
        flex-wrap: wrap;

    }

    i {
        visibility: hidden;
    }

    .container3 {
        /* height: 150vh; */
        height: 94vh;
    }

    .service {
        display: none;
    }

    .services {
        flex-wrap: wrap;
    }

    .graphic,
    .Web-design,
    .App,
    .software {
        width: 80%;
        height: 200px;
    }

    .container4 {
        /* height: 122vh; */
        height: 74vh;
    }

.container5{height: 54vh;}
    .part1 {
        flex-wrap: wrap;
    }

    .picture {
        width: 218px;
        height: 300px;
        pointer-events: none;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    .form {
        display: block;
        width: 350px;
        height: 300px;

        border-radius: 5px;


    }

    form:hover {
        border-color: none;
    }

    .form1 {
        display: flex;
        width: 345px;
        flex-wrap: wrap;
        margin-left: 5px;
    }

    input {
        width: 160px;
        height: 50px;
        margin: 5px;
        border: 2px solid orange;
        background-color: rgb(255, 255, 255);
    }

    .SUBJECT {
        width: 330px;
        border: 2px solid orange;
    }

    .message {
        width: 330px;
        height: 100px;
        padding: 4px;
    }

    .footer1 {
        border: white;
    }

    #one {
        visibility: visible;
    }
}